[data-cellid="grid_c4"][data-page="info_patinat_view"][data-cellid="grid_c4"][data-page="info_patinat_view"][data-cellid="grid_c4"][data-page="info_patinat_view"] {
  background-color: #616161;
  border: solid #ffffff 2px;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
}
[data-cellid="grid_c2"][data-page="info_patinat_view"][data-cellid="grid_c2"][data-page="info_patinat_view"][data-cellid="grid_c2"][data-page="info_patinat_view"] {
  border: solid #000000 2px;
}
[data-cellid="grid_c"][data-page="info_patinat_view"][data-cellid="grid_c"][data-page="info_patinat_view"][data-cellid="grid_c"][data-page="info_patinat_view"] {
  background-color: #616161;
  border: solid #ffffff 2px;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
}
[data-cellid="grid_c3"][data-page="info_patinat_view"][data-cellid="grid_c3"][data-page="info_patinat_view"][data-cellid="grid_c3"][data-page="info_patinat_view"] {
  border: solid #000000 2px;
}
[data-cellid="grid_c5"][data-page="info_patinat_view"][data-cellid="grid_c5"][data-page="info_patinat_view"][data-cellid="grid_c5"][data-page="info_patinat_view"] {
  background-color: #616161;
  border: solid #ffffff 2px;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
}
[data-cellid="grid_c6"][data-page="info_patinat_view"][data-cellid="grid_c6"][data-page="info_patinat_view"][data-cellid="grid_c6"][data-page="info_patinat_view"] {
  border: solid #000000 2px;
}
[data-cellid="grid_c7"][data-page="info_patinat_view"][data-cellid="grid_c7"][data-page="info_patinat_view"][data-cellid="grid_c7"][data-page="info_patinat_view"] {
  background-color: #616161;
  border: solid #ffffff 2px;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
}
[data-cellid="grid_c8"][data-page="info_patinat_view"][data-cellid="grid_c8"][data-page="info_patinat_view"][data-cellid="grid_c8"][data-page="info_patinat_view"] {
  border: solid #000000 2px;
}
[data-cellid="grid_c9"][data-page="info_patinat_view"][data-cellid="grid_c9"][data-page="info_patinat_view"][data-cellid="grid_c9"][data-page="info_patinat_view"] {
  background-color: #616161;
  border: solid #ffffff 2px;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
}
[data-cellid="grid_c10"][data-page="info_patinat_view"][data-cellid="grid_c10"][data-page="info_patinat_view"][data-cellid="grid_c10"][data-page="info_patinat_view"] {
  border: solid #000000 2px;
}
[data-cellid="grid_c11"][data-page="info_patinat_view"][data-cellid="grid_c11"][data-page="info_patinat_view"][data-cellid="grid_c11"][data-page="info_patinat_view"] {
  background-color: #616161;
  border: solid #ffffff 2px;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
}
[data-cellid="grid_c12"][data-page="info_patinat_view"][data-cellid="grid_c12"][data-page="info_patinat_view"][data-cellid="grid_c12"][data-page="info_patinat_view"] {
  border: solid #000000 2px;
}
[data-cellid="grid_c13"][data-page="info_patinat_view"][data-cellid="grid_c13"][data-page="info_patinat_view"][data-cellid="grid_c13"][data-page="info_patinat_view"] {
  background-color: #616161;
  border: solid #ffffff 2px;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
}
[data-cellid="grid_c14"][data-page="info_patinat_view"][data-cellid="grid_c14"][data-page="info_patinat_view"][data-cellid="grid_c14"][data-page="info_patinat_view"] {
  border: solid #000000 2px;
}
[data-cellid="grid_c15"][data-page="info_patinat_view"][data-cellid="grid_c15"][data-page="info_patinat_view"][data-cellid="grid_c15"][data-page="info_patinat_view"] {
  background-color: #616161;
  border: solid #ffffff 2px;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
}
[data-cellid="grid_c16"][data-page="info_patinat_view"][data-cellid="grid_c16"][data-page="info_patinat_view"][data-cellid="grid_c16"][data-page="info_patinat_view"] {
  border: solid #000000 2px;
}
[data-cellid="grid_c17"][data-page="info_patinat_view"][data-cellid="grid_c17"][data-page="info_patinat_view"][data-cellid="grid_c17"][data-page="info_patinat_view"] {
  background-color: #616161;
  border: solid #ffffff 2px;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
}
[data-cellid="grid_c18"][data-page="info_patinat_view"][data-cellid="grid_c18"][data-page="info_patinat_view"][data-cellid="grid_c18"][data-page="info_patinat_view"] {
  border: solid #000000 2px;
}
[data-cellid="grid_c19"][data-page="info_patinat_view"][data-cellid="grid_c19"][data-page="info_patinat_view"][data-cellid="grid_c19"][data-page="info_patinat_view"] {
  background-color: #616161;
  border: solid #ffffff 2px;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
}
[data-cellid="grid_c20"][data-page="info_patinat_view"][data-cellid="grid_c20"][data-page="info_patinat_view"][data-cellid="grid_c20"][data-page="info_patinat_view"] {
  border: solid #000000 2px;
}
[data-cellid="grid_c21"][data-page="info_patinat_view"][data-cellid="grid_c21"][data-page="info_patinat_view"][data-cellid="grid_c21"][data-page="info_patinat_view"] {
  background-color: #616161;
  border: solid #ffffff 2px;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
}
[data-cellid="grid_c22"][data-page="info_patinat_view"][data-cellid="grid_c22"][data-page="info_patinat_view"][data-cellid="grid_c22"][data-page="info_patinat_view"] {
  border: solid #000000 2px;
}
[data-cellid="grid_c23"][data-page="info_patinat_view"][data-cellid="grid_c23"][data-page="info_patinat_view"][data-cellid="grid_c23"][data-page="info_patinat_view"] {
  background-color: #616161;
  border: solid #ffffff 2px;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
}
[data-cellid="grid_c24"][data-page="info_patinat_view"][data-cellid="grid_c24"][data-page="info_patinat_view"][data-cellid="grid_c24"][data-page="info_patinat_view"] {
  border: solid #000000 2px;
}
[data-cellid="grid_c25"][data-page="info_patinat_view"][data-cellid="grid_c25"][data-page="info_patinat_view"][data-cellid="grid_c25"][data-page="info_patinat_view"] {
  background-color: #616161;
  border: solid #ffffff 2px;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
}
[data-cellid="grid_c26"][data-page="info_patinat_view"][data-cellid="grid_c26"][data-page="info_patinat_view"][data-cellid="grid_c26"][data-page="info_patinat_view"] {
  border: solid #000000 2px;
}
[data-cellid="grid_c27"][data-page="info_patinat_view"][data-cellid="grid_c27"][data-page="info_patinat_view"][data-cellid="grid_c27"][data-page="info_patinat_view"] {
  background-color: #616161;
  border: solid #ffffff 2px;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
}
[data-cellid="grid_c28"][data-page="info_patinat_view"][data-cellid="grid_c28"][data-page="info_patinat_view"][data-cellid="grid_c28"][data-page="info_patinat_view"] {
  border: solid #000000 2px;
}
[data-page="info_patinat_view"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


